<% if (header) { %>
    <% if (left) { %>
        <small>Search By</small>
        <span></span>
        <select name="advancedSearch" class="width-auto">
            <option value="computer_name">Computer Name</option>
            <option value="user">User</option>
            <option value="system">System</option>
            <option value="idle">Idle</option>
        </select>
        <span></span>
        <div id="searchString" style="display: inline">
            <div class="input-prepend noMargin">
                <span class="add-on">
                <i class="icon-search"></i>
                </span>
                <input class="input-small width-auto" type="text" name="search" data-type="computer_name" placeholder="Search By Computer Name">
            </div>
        </div>
    <% } else { %>
        <div class="pull-right hidden-print">
            <small>Sort By</small>
            <span></span>
            <select name="sort" style="width: auto">
                <option value="computer_name">Computer Name</option>
                <option value="user">User</option>
                <option value="system">System</option>
                <option value="idle">Idle</option>
            </select>
            <span></span>
            <select name="order">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <span></span>
            <small>Filter By</small>
            <span></span>
            <select name="filterKey" style="width: auto">
                <option value="none">None</option>
                <option value="user">User</option>
                <option value="system">System</option>
                <option value="idle">Idle</option>
            </select>
            <span></span>
            <select name="filterValue" disabled="disabled">

            </select>
            <span></span>
        </div>
    <% } %>
<% } else if (legend) { %>
    <strong class="span3">Computer Name</strong>
    <span class="span2">User</span>
    <span class="span2">System</span>
    <span class="span2">Idle</span>
    <span class="span3 alignRight">Updated</span>
<% } else { %>
    <div class="item row-fluid">
        <span class="span3"><%= model.get('computer-name') %></span>
        <span class="span2"><%= model.get('user') %></span>
        <span class="span2"><%= model.get('system') %></span>
        <span class="span2"><%= model.get('idle') %></span>
        <span class="span3 alignRight"><%= model.get('last-updated-at') %></span>
    </div>
<% } %>