<% if (header) { %>
    <% if (left) { %>
        <small>Search By</small>
        <span></span>
        <select name="advancedSearch" class="width-auto">
            <option value="computer_name">Computer Name</option>
            <option value="machine_type">Machine Type</option>
            <option value="os_code">OS Code</option>
            <option value="os_string">OS String</option>
            <option value="bit_type">System Arch</option>
        </select>
        <span></span>
        <div id="searchString" style="display: inline">
            <div class="input-prepend noMargin">
                <span class="add-on">
                <i class="icon-search"></i>
                </span>
                <input class="input-small width-auto" type="text" name="search" data-type="computer_name" placeholder="Search By Computer Name">
            </div>
        </div>
    <% } else { %>
        <div class="pull-right hidden-print">
            <small>Sort By</small>
            <span></span>
            <select name="sort" style="width: auto">
                <option value="computer_name">Computer Name</option>
                <option value="display_name">Display Name</option>
                <option value="os_code">OS Code</option>
                <option value="os_string">OS String</option>
                <option value="agent_status">Agent Status</option>
            </select>
            <span></span>
            <select name="order">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <span></span>
            <small>Filter By</small>
            <span></span>
            <select name="filterKey" style="width: auto">
                <option value="none">None</option>
                <option value="os_code">OS Code</option>
                <option value="os_string">OS String</option>
                <option value="agent_status">Agent Status</option>
                <option value="production_level">Production Level</option>
            </select>
            <span></span>
            <select name="filterValue" disabled="disabled">

            </select>
            <span></span>
        </div>
    <% } %>
<% } else if (legend) { %>
    <strong class="span3">Computer Name</strong>
    <span class="span2">Machine Type</span>
    <span class="span4">OS Name</span>
    <span class="span1">OS Type</span>
    <span class="span2 alignRight">System Arch</span>
<% } else { %>
    <div class="item row-fluid">
        <span class="span3"><%= model.get('computer_name') %></span>
        <span class="span2"><%= model.get('machine_type') %></span>
        <span class="span4"><%= model.get('os_code') %></span>
        <span class="span1"><%= model.get('os_string') %></span>
        <span class="span2 alignRight"><%= model.get('bit_type') %></span>
    </div>
<% } %>
