[appSettings]
agentid = c3f94756-ddb8-43d9-8e64-96b8a76d269d
nu = admin
wp = vFense@123
serverhostname = 
serveripaddress = 192.168.0.107
serverport = 443
agentport = 9003
tunnelport = 22
loglevel = debug
customer = default

[agentInfo]
name = TopPatch Agent
version = 0.7.2
description = TopPatch Agent
installdate = 04/24/2014

