[appSettings]
agentid = 42fbfb5a-8399-44c4-bf94-154d82a3879e
nu = admin
wp = vFense@123
serverhostname = 
serveripaddress = 192.168.2.8
serverport = 443
agentport = 9003
tunnelport = 22
loglevel = debug
customer = default

[agentInfo]
name = TopPatch Agent
version = 0.7.2
description = TopPatch Agent
installdate = 04/25/2014

